{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "extensions": [".js"],
        "root": ["."],
        "alias": {
          "@src": "./src"
        }
      }
    ]
  ]
}
