{
    "$schema": "https://swc.rs/schema.json",
    "jsc": {
      "parser": {
        "syntax": "typescript",
        "jsx": false,
        "dynamicImport": true,
        "decorators": false
      },
      "transform": {
        "decoratorMetadata": true
      },
      "target": "esnext",
      "loose": false,
      "externalHelpers": false,
      "keepClassNames": false,
      "baseUrl": ".",
      "paths": {
        "@*": ["./*"]
      }
    },
    "minify": false,
    "module": {
      "type": "commonjs",
      "strict": false,
      "strictMode": true,
      "lazy": false,
      "noInterop": false
    },
    "sourceMaps": false
  }